<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Kursach-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/wholesale_depot</jta-data-source>
    <class>com.model.Material</class>
    <class>com.model.Operation</class>
    <class>com.model.Worker</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="Kursach-ejbPU2" transaction-type="JTA">
    <jta-data-source>jdbc/orders</jta-data-source>
    <class>com.modelDB2.Materialorder</class>
    <class>com.modelDB2.Orders</class>
    <class>com.modelDB2.Supplier</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
